html, head {
  background-color: black;
}

html, body {
  padding: 30px;
  background-color: black;
  color: white;
}
#hiUser{
  text-align: left;
}


/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: black;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 30px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  font-weight:bold;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Right-aligned section inside the top navigation */
.navbar-right {
  float: right;
}


/* Style Form */
.form {
  color: white;
  overflow: auto;
  float: left;
  text-align: justify;
  text-decoration: none;
  font-size: 17px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  font-size: 14px;
}




    /* For mobile phones: */
    .form  {
      margin-left: 0px;
      margin-top: 50px;
      width:600px;
      }
  
    @media only screen and (min-width: 600px) {
      /* For tablets: */
      .form  { 
        margin-left: 10%;
        margin-top: 50px;
        width:170%;
      }
      }
  
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .form  { width:1000px;}
      }


