 /* For desktop: */
 .cont2flower {
  position: absolute;  
  top:10%;
  right: 10%;
  /* border: 3px solid red;    */
  width: 40%;
  height: 80%;
  
}
.cont2txt{
  width: 50%;
  height: 70%;
  /* border: 3px solid red;   */
}
.flowercontainer {
  font-size: 1rem;
  flex-direction: column;
  margin:10%;
  width: 80%;
  height: 80vh;
  /* border: 3px solid red;    */
}
.cont2buttons{
  margin: 0;
  position: absolute; 
  width: 50%;
  bottom: 10%;
  /* border: 3px solid red;   */
}
  
@media only screen and (max-width: 800px) {
  .cont2flower {
    /* position: absolute;  */
    top: 20%;
    margin-left: 10%;
    
    /* border: 3px solid blue;    */
    width: 80%;
    height: 50%;
   
    
  }


}


@media only screen and (max-width: 450px) {
  .flowercontainer {
    position: relative;
    font-size: 1rem;
    /* border: 3px solid #73AD21;  */
    margin: 10%;
    height: 100vh; 
  } 

.cont2txt{
  width: 100%;
   /* border: 3px solid #73AD21;   */
}
.cont2flower {
  top: 20%;
  /* margin-left: 10%; */
  width: 100%;
  align-items: center;
     /* border: 3px solid #73AD21;   */
}
.cont2buttons{
  
  /* position: absolute;  */
  width: 100%;

  bottom: 0%;
   /* border: 3px solid pink;     */
}
  }
  

