#Form-container{
  margin-top: 10%;
  margin-left: 10%;
  flex-wrap: wrap;
  width: 500px;
  height: 80%;
}
label{
  font-size: 1rem;
}

input[type=text] {
  width: 100%;
  padding: 20px;  
  /* margin: 8px 0; */
  margin-bottom: 8%;
  box-sizing: border-box;
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  #Form-container{
    
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
  }
}


@media only screen and (max-width: 450px) {
  #Form-container{
    
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
  }
}



