#header {
    top: 8%;
    left: 5%;
    position: fixed;
}
#footer {
    bottom: 5%;
    left: 5%;
    position: fixed;
    font-size: 12px;
}

div.upperright {
    position: absolute;
    right: 50px;
    top: 5%;
    
  }