
#footer {
    bottom: 5%;
    left: 5%;
    position: fixed;
    font-size: 0.8rem;
}

#GrievingSpace-boardContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 2%;
}

.gscontainer{
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    flex-direction: row;
    /* border: 3px solid blue;    */
  }


  .upperleft {
    
    
    width: 75%;
    right: 50px;
    margin: 2%;
    
    height: 5%;
    font-size: 1rem;
    /* border: 3px solid pink;   */
  }

  .middle {
    
    width: 75%;
    right: 50px;
    margin: 2%;
    margin-top: 20%;
    
    height: 5%;
    font-size: 1rem;
    /* border: 3px solid red; dsv  */
  }

  @media only screen and (max-width: 450px) {
    .gscontainer{
      margin: 10%; 
      width: 80%;
    }
    .gscontainer > .upperleft {
      width: 50%;
      margin: 0; 
    }
    .gscontainer > .upperright {
      margin: 0; 
    }
    .middle {
      margin-top: 50%;
    }

  } 