#Home-container {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../../imgs/homeBackground.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

h1{
    font-size: 32px;
    margin: 20px 50px 15px; 
}
#subtitle {
    font-style: normal;
    font-size: 12px;
    
    /* margin: 0px 450px 25px;  */
    line-height: 2;
  }

  /* For mobile phones: */
  #txtHome  {
    width:90%;
    }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    #txtHome { width:70%;}
    }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    #txtHome  { width:50%;}
    }