/* Style Body */
  html, body {
    margin: 30;
    padding: 50px;
    background-color: black;
  }
  canvas {
    display: block;
  }
  
  /* Style Entries */
  .comment {
    width: 100%;
    color: white;
    overflow: auto;
    float: left;
    text-align: justify;
    padding: 0px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  img {
    border-radius: 5%;
    border: 2px solid white;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: center;
    border: 3px solid #73AD21;
  }
  #personalfooter{
    bottom: 5%;
    margin-left: 10%;
    left: 5%;
    position: fixed;
    font-size: 12px;
  
  }
  


  
