  
  canvas {
    display: block;
  }
  #header {
    top: 8%;
    left: 5%;
    font-size: 1rem;
    /* position: fixed; */
}

  #HiUserPS{
    width: 100%;
    margin:0;
    padding-left: 0;
    text-align: left;
  }

  #pslist{
    margin-top: 15%;
    margin: 3%;
    margin-bottom: 0%;
    flex-direction: row;
    /* border: 3px solid blue;   */

  }

  .pscontainer{
    display: flex;
    height: 100vh;
    margin: 5%;
    display: flex;
    flex-direction: column;
    /* border: 3px solid #73AD21;    */
  }

.pscontainer > .upperright {
    width: 25%;
    
    top: 5%;
    height: 5%;
    justify-content: flex-end;
    /* border: 3px solid red;   */
  }

  .pscontainer > .upperleft {
    width: 75%;
    right: 50px;
    margin: 2%;
    margin-left: 5%;
    height: 5%;
    font-size: 1rem;
    /* border: 3px solid red;   */
  }
  
  
  /* Style Entries */
  .comment {
    width: 100%;
    color: white;
    overflow: auto;
    float: left;
    text-align: justify;
    padding: 0px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  img {
    border-radius: 5%;
    border: 2px solid white;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: center;
    /* border: 3px solid #73AD21; */
  }
  #personalfooter{
    bottom: 0%;
    margin-left: 3%;
    width: 100%;
    left: 5%;
    position: fixed;
    font-size: 12px;
    /* border: 3px solid #73AD21;   */
  
  }

  @media only screen and (max-width: 450px) {

    .pscontainer{
      
      margin: 10% ;
      margin-top: 30%;
      flex-direction: column;
      /* background-color: pink; */
    }
    .pscontainer > .upperright {
      width: 70%;
      margin: 0;
      /* background-color: tomato; */
    }
  
    .pscontainer > .upperleft {
      width: 90%;
      
      margin: 0%;
      
    }
    #personalfooter{
      bottom: 0%;
      margin-left: 5%;
      width: 80%;
      left: 5%;
      
      font-size: 12px;
      /* border: 3px solid #73AD21;   */
    }
    #pslist{
      
      margin: 5%;
      /* border: 3px solid red;    */
  
    }

  }
  


  
