#Registration-container {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
}

/* Style Input */
.registration {
    width: 100%;
    font-size: 17px;
}

input[type=string] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
}

input[type=password] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
}
#smalltxt {
    margin: 10px;
  }
  a {
    color: white;
    text-decoration:none
  }

