.HomeButton-style {
    border: var(--white) 0.1rem solid;
    border-radius: 25px;
    padding: var(--s) var(--l);
    height: 100%;
    margin: 1.5% 1% 0; 
    font-size: 0.8rem;

    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    background: none;
}

.HomeButton-style:hover {
    background: var(--white);
    color: var(--black);
    border-color: var(--white);
    transition-duration: 0.2s;
}