.InputLine-style {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--white);

    color: var(--white);
    font-family: inherit;
}

.InputLine-style::placeholder {
    color: white;
}

/* TODO: fix autofill color */
/* input:autofill,
input:autofill:hover, 
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
} */