#Nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    /* position: relative; */
}

#Nav-container .Nav-link {
    border-bottom: 1px solid #fff;
    transform: scale(1.0);
    transition-duration: 0.5s;
    min-width: max-content;
}

#Nav-container .Nav-link:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
}

#Nav-container #Nav-floatRight {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    /* float: right; */
}

#Nav-container #title {
    justify-self: start;
    align-self: baseline;
    flex-shrink: 0;
    padding: 0;
    /* float: left; */
}

#Nav-container > *, #Nav-container #Nav-floatRight > * {
    margin: 0 10px;
}

@media only screen and (max-width: 450px) {
    #Nav-container {
        flex-flow: row wrap;
        justify-content: center;
    }

}