#Nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

#Nav-container .Nav-link {
    border-bottom: 1px solid #fff;
    transform: scale(1.0);
    transition-duration: 0.5s;
}

#Nav-container .Nav-link:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#Nav-container > * {
    margin: 0 10px;
}

@media only screen and (max-width: 450px) {
    #Nav-container {
        flex-flow: row wrap;
    }

}