#Nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    /* position: absolute;
    right: 50px;
    width: 15%;
    top: 5%;
    height: 5%; */
}

#Nav-container.a {
    text-decoration: underline;
}

#Nav-container > * {
    margin: 0 5px;
}

@media only screen and (max-width: 450px) {
    .upperright {
        width: 25%;
    }

}