.WhiteButton-style {
    background-color: white;
    color: black;
    
    padding: var(--s) var(--l);
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    margin: 10% 2% 10%;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-family: 'Open Sans', sans-serif;

    min-width: 150px;

}

.WhiteButton-style:hover {
    font-weight:bold;
}